.container-souvenir-details{
    width: min(95%, 120rem);
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.souvenirs-grid {
    display: flex;
    flex-direction: column;
    width:100%;
    flex-wrap: wrap;
    gap: 4rem;
}

@media (min-width: 680px) {
    .souvenirs-grid {
        flex-direction: row;
    }
}

.souvenir {
    width:100%;
    padding-bottom: 2rem;
    background-color: rgb(245, 240, 240);
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 3px rgb(177, 176, 176);
    border: .5px solid rgb(243, 241, 241);
}

@media (min-width: 680px) {
    .souvenir {
        width:30%;
    }
}

.souvenir .wrap-imagen {
    padding: 1rem;
}

.souvenir .content {
    padding: 1rem;
    text-align: center;
}

.souvenir .content .tittle {
    padding: 1rem 1rem;
    text-transform: uppercase;
    color: var(--primary);
    margin: 0;
}

.tittle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary);
    margin: 2rem 0;
    text-transform: uppercase;
    text-align:center;
}

.souvenir .price {
    color: var(--black);
    font-size: 2rem;
    margin: 0;
    font-weight: 900;
}

.date {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.spanDate {
    margin: 0 .7rem;
    font-weight: bold;
}

.souvenir .link-product {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    transition-property: background-color;
    transition-duration: 300ms;
    width: 100%;
}

.souvenir .link-product:hover {
    background-color: var(--primary);
}

.spanSouData {
    margin: 0 .7rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
    text-transform: uppercase;
}

.sPrice, .sType, .sCity {
    margin:1rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-style:italic;
    text-transform: uppercase;
    text-shadow: 0 0 3px var(--primary);
}

.sDate{
    display:inline-block;
    width:100%;
    text-align: end;
    margin-right: 1rem;
    font-size:1.25rem;
    text-shadow: 0 0 3px var(--primary);
}

.form{
    display:flex;
    flex-direction: column;
    background-color: #cfcfcf;
    padding: 1rem;
    border-radius:.5rem;
}

.form label{
    font-size: 1.7rem;
}

form select{
    text-align: center;
    padding: .5rem;
    border: 1px solid var(--black);
    border-radius:1rem;
    font-size: 1.7rem;
}

.form input[type='submit']{
    margin-top: 1.7rem;
    background-color: var(--black);
    color: var(--white);
    border-radius:.5rem;
    padding: 1rem;
    border: none;
    transition-property: background-color;
    transition-duration: 300ms;
}

.form input[type='submit']:hover {
    cursor: pointer;
    background-color: var(--primary);
    color: var(--black)
    }